*{
  padding: 0;
  margin: 0;
}

.toastpart {
  margin-right: 40%;
  margin-top: 130px;
  z-index: 9999; 
}

.Toastify__toast--default {
  background: #333;
  color: white;
}
.Toastify__toast--error {
  background: white;
  color: red;
}
.Toastify__toast--success {
  background: white;
  color: green;
}